# Java
*.class

# Python
*.pyc

# Gradle
.gradle
build
bin

# vim
*.swp

# emacs
*~

# Eclipse
.settings
.classpath
.project
.metadata

# Idea
.idea
*.iml

# JSweet
.jsweet
_jsweet

# Tests
build_*

# MAC_OS
.DS_Store

# Vertx file uploads
file-uploads

# _storage
_storage

# jdk error logs
*.log

# archives
*.zip
*.jar
*.7z
*.rar


# must include gradle's jar
!gradle-wrapper.jar
